@import "tailwindcss";

:root {
  --background: #fafafa;
  --background-secondary: #a5a5a5;
  --primary: #282828;
  --secondary: #a8a8a8;
  --radius: 0.5rem;
  --foreground: #cfcfcf;
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

.dark {
  --background: #1e1f22;
  --background-secondary: #2b2d31;
  --primary: #efefef;
  --secondary: #1f1f1f;
  --foreground: #313338;
  --foreground-secondary: #383a40;
  --text-button: #B5BAC1;
}

@layer base {
  body {
    @apply bg-[var(--background)] font-sans text-[var(--primary)];
  }
  button,
  input,
  text-area {
    @apply focus-visible:outline-none focus-visible:ring-[2px] focus-visible:ring-blue-400;
  }
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.no-scrollbar {
  scrollbar-width: none;
}

*::-webkit-scrollbar-track {
  border-radius: 4px; /* Esquinas redondeadas */
  background: #262626; /* Hace invisible el track */
}

*::-webkit-scrollbar-thumb {
  background-color: #1b1b1b; /* Azul Discord */
  border-radius: 4px; /* Esquinas redondeadas */
  border: none; /* Elimina bordes del thumb */
}

*::-webkit-scrollbar {
  width: 8px; /* Grosor del scrollbar */
  height: 8px; /* Opcional, para barras horizontales */
}
